<h2>Create Employee</h2>

<p *ngIf="error" style="color:#b91c1c">{{ error }}</p>

<form [formGroup]="form" (ngSubmit)="submit()">
  <label>Employee Code *</label><br />
  <input type="text" formControlName="employeeCode" />
  <small *ngIf="form.controls.employeeCode.touched && form.controls.employeeCode.invalid" style="color:#b91c1c">Required (max 30).</small>
  <br /><br />

  <label>First Name *</label><br />
  <input type="text" formControlName="firstName" />
  <small *ngIf="form.controls.firstName.touched && form.controls.firstName.invalid" style="color:#b91c1c">Required (max 100).</small>
  <br /><br />

  <label>Last Name *</label><br />
  <input type="text" formControlName="lastName" />
  <small *ngIf="form.controls.lastName.touched && form.controls.lastName.invalid" style="color:#b91c1c">Required (max 100).</small>
  <br /><br />

  <label>Email *</label><br />
  <input type="email" formControlName="email" />
  <small *ngIf="form.controls.email.touched && form.controls.email.invalid" style="color:#b91c1c">Valid email required (max 150).</small>
  <br /><br />

  <label>Hire Date</label><br />
  <input type="date" formControlName="hireDate" />
  <br /><br />

  <label><input type="checkbox" formControlName="active" /> Active</label>
  <br /><br />

  <button type="submit" [disabled]="loading">Save</button>
  <a routerLink="/employees" style="margin-left:8px;">Cancel</a>
</form>

<p *ngIf="loading">Saving...</p>